*.db
*.bak
_old
rice-box.go
.idea/
/filebrowser
/filebrowser.exe
packages/backend/filebrowser
packages/backend/filebrowser.exe
/dist

/Documents
/Download
/Movies
/Network
/Pictures

.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
bin/
build/
/pkg/backend/img/testdata/
Dockerfile.local
