name: Update Server

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Release Tags"

  push:
    branches:
      - "main"
      - "dev"
      - "test"
    tags:
      - "v*"

jobs:
  update_server:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/PRConventionalCommits@1.1.0
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","style"]'
          add_label: "true"

      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5
          cache-image: false
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/setup-go@v2
        with:
          go-version: 1.23.3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: get latest tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        id: get-latest-tag
        with:
          fallback: latest

      #      - name: Build
      #        run: cd packages/backend/;go mod tidy;export CGO_ENABLED=0;make build-backend;ls

      - name: Build
        run: |
          go mod tidy
          for GOOS in linux; do
            for GOARCH in amd64 arm64; do
              export GOOS=$GOOS
              export GOARCH=$GOARCH

              export GOPATH=~/go
              export PATH=$GOPATH/bin:$PATH
              go install github.com/cloudwego/hertz/cmd/hz@latest
              hz -v
              GO111MODULE=on go install github.com/cloudwego/thriftgo@latest

              go mod tidy
              go mod edit -replace github.com/apache/thrift=github.com/apache/thrift@v0.13.0
              go mod tidy

              cd pkg/hertz
              echo "callback.thrift"
              hz update -idl idl/callback.thrift
              echo "api thrifts"
              hz update -idl idl/external.thrift
              hz update -idl idl/md5.thrift
              hz update -idl idl/nodes.thrift
              hz update -idl idl/paste.thrift
              hz update -idl idl/permission.thrift
              hz update -idl idl/preview.thrift
              hz update -idl idl/raw.thrift
              hz update -idl idl/repos.thrift
              hz update -idl idl/resources.thrift
              hz update -idl idl/tree.thrift
              hz update -idl idl/user.thrift
              hz update -idl idl/compress.thrift
              echo "upload.thrift"
              hz update -idl idl/upload.thrift
              echo "share.thrift"
              hz update -idl idl/share.thrift
              hz update -idl idl/search.thrift
              hz update -idl idl/media.thrift

              cd ../..
              go mod tidy
              cd cmd/backend
              go build -o filebrowser main.go
              mkdir -p dist/$GOOS-$GOARCH
              mv filebrowser dist/$GOOS-$GOARCH/
              cd ../..
            done
          done

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ format('docker.io/beclab/files-server:{0}', github.event.inputs.tags || steps.get-latest-tag.outputs.tag) }}
          platforms: linux/amd64,linux/arm64
          progress: plain
