name: Build Rclone

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Release Tags"

  # push:
  #   branches:
  #     - "main"
  #     - "dev"
  #     - "test"
  #   tags:
  #     - "v*"

jobs:
  update_server:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/PRConventionalCommits@1.1.0
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","style"]'
          add_label: "true"

      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5
          cache-image: false
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.rclone
          push: true
          tags: beclab/rclone:v1.73.0
          platforms: linux/amd64,linux/arm64
